In [ ]:
import pandas as pd
import sqlite3

# Load your Excel file
excel_path = r"C:\Users\Charbel\Desktop\Data Science X5\Data Collection - Registration App Final2.xlsx"
excel_file = pd.ExcelFile(excel_path)
sheets_dict = {sheet_name: excel_file.parse(sheet_name) for sheet_name in excel_file.sheet_names}

# Clean the data: remove duplicates and fully empty rows
cleaned_dfs = {
    name: df.drop_duplicates().dropna(how='all')
    for name, df in sheets_dict.items()
}

# Connect to SQLite (creates a new file or overwrites existing)
conn = sqlite3.connect("Registration App.db")

# Export each DataFrame to a table
for name, df in cleaned_dfs.items():
    table_name = name.replace(" ", "_")  # Just in case there are spaces
    df.to_sql(table_name, conn, if_exists='replace', index=False)
    print(f"Exported '{name}' to table '{table_name}'")

conn.close()

Exported 'Payment_Method' to table 'Payment_Method'
Exported 'Payment' to table 'Payment'
Exported 'Institution' to table 'Institution'
Exported 'Academic_Level' to table 'Academic_Level'
Exported 'Track' to table 'Track'
Exported 'Batch' to table 'Batch'
Exported 'Track_Batch' to table 'Track_Batch'
Exported 'User_Batch' to table 'User_Batch'
Exported 'Instructor_Batch' to table 'Instructor_Batch'
Exported 'USER' to table 'USER'

In [6]:
  
import sqlite3  
import pandas as pd

db_path = r"C:\Users\Charbel\Desktop\Data Science X5\Registration App.db"
 
conn = sqlite3.connect(db_path)
 
views = ['USER_DEMOGRAPHICS', 'USERS_PER_BATCH', 'PAYMENT_V']
 
USER_DEMOGRAPHICS = pd.read_sql_query(f"SELECT * FROM {views[0]}", conn)
USERS_PER_BATCH = pd.read_sql_query(f"SELECT * FROM {views[1]}", conn)
PAYMENT_V = pd.read_sql_query(f"SELECT * FROM {views[2]}", conn)
 
conn.close()
 
print(USER_DEMOGRAPHICS.head())

   USER_ID DATE_OF_BIRTH  ROLE AGE_GROUP_BUCKET  GENDER  ACADEMIC_LEVEL_ID  \
0        1    1994-10-31  User            30-39  Female                  4
1        2    2001-01-26  User            20-29  Female                  6
2        3    2002-08-30  User            20-29    Male                  6
3        4    1997-08-04  User            20-29    Male                  4
4        5    1993-07-02  User            30-39  Female                  6

  ACADEMIC_LEVEL  INSTITUTION_ID               INSTITUTION_NAME  \
0       Sophmore              33           University of Byblos
1       Graduate              14            Antonine University
2       Graduate              46  Arab International University
3       Sophmore              31    University of Mount Lebanon
4       Graduate              31    University of Mount Lebanon

  INSTITUTION_TYPE
0       university
1       university
2       university
3       university
4       university

In [ ]:
#i ran this in the terminal before the code after it
#pip install streamlit pandas plotly

In [ ]:
import streamlit as st
import sqlite3
import pandas as pd
import plotly.express as px

st.set_page_config(layout="wide", page_title="User Registration Summary")

st.title("User Registration Summary")

col1, col2, col3, col4 = st.columns(4)

with col1:
    st.subheader("By Gender")
    fig_gender = px.pie(USER_DEMOGRAPHICS, names='GENDER', title='', hole=0.4)
    st.plotly_chart(fig_gender, use_container_width=True)

with col2:
    st.subheader("By Age Group")
    fig_age = px.pie(USER_DEMOGRAPHICS, names='AGE_GROUP_BUCKET', title='', hole=0.4)
    st.plotly_chart(fig_age, use_container_width=True)

with col3:
    st.subheader("By Academic Level")
    fig_academic = px.pie(USER_DEMOGRAPHICS, names='ACADEMIC_LEVEL', title='', hole=0.4)
    st.plotly_chart(fig_academic, use_container_width=True)

with col4:
    st.subheader("By Institution")
    fig_institution = px.pie(USER_DEMOGRAPHICS, names='INSTITUTION_NAME', title='', hole=0.4)
    st.plotly_chart(fig_institution, use_container_width=True)

SyntaxError: invalid syntax (1304922693.py, line 32)

SyntaxError: invalid syntax (1326856841.py, line 4)